- type: job
  parent: CMJobBase
  id: CMCargoTech
  name: cm-job-name-cargotech
  description: cm-job-description-cargotech
  setPreference: false
  playTimeTracker: CMJobCargoTech
  requirements: []
  ranks:
    RMCRankLanceCorporal:
    - !type:RoleTimeRequirement
      role: CMJobCargoTech
      time: 252000 # 70 hours
    RMCRankPrivateFirstClass:
    - !type:RoleTimeRequirement
      role: CMJobCargoTech
      time: 36000 # 10 hours
    RMCRankPrivate: []
  startingGear: CMGearCargoTech
  icon: "CMJobIconCargoTech"
  joinNotifyCrew: false
  supervisors: cm-job-supervisors-qm
  accessGroups:
  - CMCargoTech
  roleWeight: 0.25
  special:
  - !type:AddComponentSpecial
    components:
    - type: Skills
      skills:
        RMCSkillConstruction: 1
        RMCSkillEndurance: 1
        RMCSkillFirearms: 2
        RMCSkillFireman: 1
        RMCSkillPowerLoader: 2
    - type: CMVendorUser
      id: CMCargoTech
    - type: JobPrefix
      prefix: cm-job-prefix-cargotech
    - type: TacticalMapIcon
      icon:
        sprite: /Textures/_RMC14/Interface/map_blips.rsi
        state: cargo
    - type: MutinyEligible

- type: startingGear
  id: CMGearCargoTech
  equipment:
    jumpsuit: CMJumpsuitCargoTech
    shoes: CMBootsBlack
    head: CMHeadCapCargo
    gloves: CMHandsInsulated
    id: CMIDCardCargoTech
    ears: CMHeadsetRequisition
    pocket1: RMCPouchGeneralMedium
    pocket2: CMStampApproved
    belt: RMCM1984BeltFilled

- type: entity
  parent: CMSpawnPointJobBase
  id: CMSpawnPointCargoTech
  name: req tech spawn point
  components:
  - type: SpawnPoint
    job_id: CMCargoTech
  - type: Sprite
    state: ct_spawn

- type: playTimeTracker
  id: CMJobCargoTech
  isHumanoid: true
